<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <form (ngSubmit)="onSignup(form)" #form="ngForm">
      <br>
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="Correo electrónico" ngModel>
      <input type="password" id="login" class="fadeIn third" name="password" placeholder="Contraseña" ngModel>
      <input type="password" id="login" class="fadeIn fourth" name="secondPassword" placeholder="Repetir contraseña" ngModel>
      <input type="submit" class="fadeIn five" value="Registrarse">
    </form>
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/acceso']">Ya tengo una cuenta</a>
      <div *ngIf="correctData" class="alert alert-danger">
        ¡Las contraseñas no coinciden!
      </div>
    </div>
  </div>
</div>
